<div class="container-fluid">
  <!-- <div class="row"> -->
  <!-- <div class="col-lg-2 col-md-4 col-sm-4 sidebar1" id="navBar"> -->
  <div class="sidebar1" id="navBar">
      <div class="img-div post-header-container">
          <div class="ratio img-responsive img-circle profile-pic"></div>
          <div class="nav-user-details">
              Your Name
          </div>
      </div>
      <br>
      <div class="nav-pad">
          <a class="nav-link" href="">Feed</a>
          <a class="nav-link" href="">My Profile</a>
          <a class="nav-link" href="">New Post</a>
          <a class="nav-link" href=""><i class="fa fa-cogs"></i> Settings</a>

          <div class="search-custom">
              <div class="icon-addon">
                  <label for="navSearch" class="fa fa-search"></label>
                  <input type="text" class="form-control" id="navSearch" placeholder="Search">
              </div>
          </div>

      </div>
  </div>
  
  <!-- <div class="main-content">
      <h1>Dummy Main Body</h1>
      <p>
          trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/>
      </p>

  </div> -->