<div class="container-fluid">
    
    <div class="sidebar1" id="navBar">
        <div class="img-div post-header-container">
            <app-profile-photo [url]="url"></app-profile-photo>
        </div>
        <div class="nav-user-details">
            {{user.firstName}} {{user.lastName}}
        </div>
        
        <div class="nav-pad">
            <a class="nav-link" routerLink="/feed">Feed</a>
            <a class="nav-link" routerLink="/profile/{{user.username}}">My Profile</a>
            <span class="nav-link" (click)="openNewPost()">New Post</span>
            <span class="nav-link" (click)="openSettings()">
                <i class="fa fa-cogs"></i> Settings</span>
            <span class="nav-link" (click)='logOut()'>Log Out</span>
            <app-search></app-search>

        </div>
    </div>

    