<div class="container-fluid">
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-2 col-md-4 col-sm-4 sidebar1" id="navBar"> -->
    <div class="sidebar1" id="navBar">
        <div class="img-div post-header-container">
            <app-profile-photo></app-profile-photo>
        </div>
        <div class="nav-user-details">
            {{user.firstName}} {{user.lastName}}
        </div>
        
        <div class="nav-pad">
            <a class="nav-link" href="/feed">Feed</a>
            <a class="nav-link" href="/profile">My Profile</a>
            <span class="nav-link" (click)="openNewPost()">New Post</span>
            <span class="nav-link" (click)="openSettings()">
                <i class="fa fa-cogs"></i> Settings</span>
            <a class="nav-link" href="">Log Out</a>
            <app-search></app-search>

        </div>
    </div>

    <!-- <div class="main-content">
      <h1>Dummy Main Body</h1>
      <p>
          trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/> trying to make the page longer
          <br/>
      </p>

  </div> -->