/* You can add global styles to this file, and also import other style files */
@media (min-width: 576px){
    .modal-dialog {
        max-width: 65vw;
        margin: 1.75rem auto;
        width: fit-content;
        /* margin-left: 30vw; */
    }
}

.modal-content {
    width: fit-content;
    margin: 2rem auto;
}