.limb-body{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Fontin-Sans-Regular;
}

.limb-image{
    width: auto;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    margin-left: 27%;
    margin-bottom: 15px;
    margin-top: 15px;
}
