<div class="background">
  <div class="container">
    <div class="col-lg-6 offset-lg-3">
      <div class="logo-container">
        <!-- Logo Will Go Here -->
        <hr class="drop_shadow">
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">We just sent you an email</h4>
          <p class="card-text">Please verify your email and then log in.</p>
          <button type="button" class="btn btn-link btn-lg btn-block" (click)="auth.login()">Log In</button>
        </div>
      </div>
    </div>
  </div>
</div>
