.modal-container {
    height: auto;
    width: auto;
    padding: 5%;
    background: #314455;
    border: none;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#314455, #314455, #644E5B);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#314455, #314455, #644E5B);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#314455, #314455, #644E5B);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#314455, #314455, #644E5B);
}

.modal-title {
    color: #ffffff;
}

textarea {
    height: 100px;
    resize: vertical;

}

#limbTextArea {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.form-control{
    border-color: #644E5B;
    border: 2px solid;
    color: #644E5B;
}

.form-control:focus{
    border-color: #97aabd;
    box-shadow: 0 1px 1px #97aabd inset, 0 0 8px #97aabd;
    color: #97aabd;
}

/* Hiding the ugly input */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.file-btn{
    color: #97AABD;
    background: #314455;
    border: 1px solid #97AABD;
    padding: 3px 10px;
    border-radius: 25px;
   
}

.form-group-custom {
    text-align: center;
}

.file-btn:hover {
    color: #314455;
    background: #97AABD;
}

.file-input-center {
    width:50%;
    margin: auto;
    margin-top: 5%;
    
}

/* button customization */
.btn-custom{
    border-radius: 5px;
    width: 80px;
    height: 40px;
}



.btn-form {
    border: 2px solid #644E5B;
    color: #ffffff;
    background: #644E5B;
  
}

.btn-form:hover, .btn-form:focus {
    color: #ffffff;
    border-color: #314455;
    background-color: #314455;
}

.left-btn {
    display: inline-block;
    /* padding-left: 15%; */
}

.right-btn {
    display: inline-block;
    position:absolute;
    right: 5%;
    /* margin-right: 10px;
    margin-bottom: 10px; */
}

.post-content {
    width: 80%;
    margin:auto;
    margin-top: 5%;
}