.modal-container {
    height: auto;
    width: auto;
    padding: 5%;
}

.modal-title {
    color: #9E5A63;
}

textarea {
    height: 100px;
    resize: vertical;

}

#limbTextArea {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

/* Hiding the ugly input */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.file-btn{
    color: #97AABD;
    background: #314455;
    padding: 3px 10px;
    border-radius: 25px;
   
}

.form-group-custom {
    text-align: center;
}

.file-btn:hover {
    color: #314455;
    background: #97AABD;
}

.file-input-center {
    width:50%;
    margin: auto;
    margin-top: 5%;
    
}

/* button customization */
.btn-custom{
    border-radius: 5px;
    width: 80px;
    height: 40px;
}

.btn-custom.outline{
    border: 2px solid #C96567;
    color: #C96567;
    background: #ffffff;
}


.btn-custom.outline:hover, .btn-custom.outline:focus, .btn-custom.outline:active, .btn-custom.outline.active, .open > .dropdown-toggle.btn-custom {
	color: #ffffff;
    border-color: #C96567;
    background-color: #C96567;
}

.btn-cancel {
    border: 2px solid #644E5B;
    color: #ffffff;
    background: #644E5B;
  
}

.btn-cancel:hover, .btn-cancel:focus {
    color: #644E5B;
    border-color: #644E5B;
    background-color: #ffffff;
}

.left-btn {
    display: inline-block;
    /* padding-left: 15%; */
}

.right-btn {
    display: inline-block;
    position:absolute;
    right: 5%;
    /* margin-right: 10px;
    margin-bottom: 10px; */
}

.post-content {
    width: 80%;
    margin:auto;
    margin-top: 5%;
}