.main-content{

    padding-left: 20vw;
}


.feed-background{
    margin: 0px;
    padding-top: 50px;
    background-image: url('/assets/images/bg2.png');
    height: 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

