<div class="background">
  <div class="container">
      <div class="col-lg-6 offset-lg-3">
          <div class="logo-container">
              <!-- Logo Will Go Here -->
              <hr class="drop_shadow">
          </div>

          <div class="form-background">
              <form>

                  <div class="form-row">
                      <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 text-center">
                          <div class="form-group">
                              <div class="icon-addon">
                                  <label for="userEmail" class="fa fa-envelope"></label>
                                  <input type="email" class="form-control" id="userEmail" placeholder="Email">
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 text-center">
                          <div class="form-group">
                              <div class="icon-addon">
                                  <label for="userPass" class="fa fa-lock"></label>
                                  <input type="password" class="form-control" id="userPass" placeholder="Password">
                              </div>

                          </div>
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="col-md-3 offset-md-3 col-sm-3 offset-sm-3 text-left">
                          <button type="button" 
                            class="btn btn-custom outline" 
                            id="userLoginButton"
                            (click)="auth.login()">Login
                        </button>
                      </div>
                      <div class="col-md-3 col-sm-3 text-right">
                          <nav>
                          <button type="button" class="btn btn-custom outline" id="userRegisterButton" routerLink="/register">Register</button>
                        </nav>
                        </div>
                  </div>


              </form>
              <div class="row">
                  <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3 text-center">
                      <a id="forgotPassLink" href=''>Forgot your password?</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
