.container {
    text-align: center;
    width: 100vw;
}


.btn-custom{
    position: absolute;
    top: 80%;
    left: 40%;
    border-radius: 5px;
}

.btn-custom.outline{
    margin: 0px;
    font-size: 20px;
    border: 2px solid #97AABD;
    color: #ffffff;
    background: #97AABD;
    padding: 5px 15px;
    box-shadow: -5px 6px 8px 2px rgba(0, 0, 0, 0.808);
}

.btn-custom.outline:hover, .btn-custom.outline:focus, .btn-custom.outline:active, .btn-custom.outline.active, .open > .dropdown-toggle.btn-custom {
	color: #ffffff;
    border-color: #314455;
    background-color: #314455;
    box-shadow: -2px 3px 3px .1px rgba(0, 0, 0, 0.808);

}

hr.drop_shadow{
    width: 200px;
    height: 10px;
    border: 1;
    box-shadow: inset 0 9px 9px -3px #9E5A63;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
}

.logo-image {
    box-shadow: -5px 6px 8px 2px rgba(0, 0, 0, 0.808);
}


.background{
    margin: 0px;
    background-image: url('/assets/images/bg1.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    height:100%;
}

.logo {
    display: block;
    font-family: logoFont;
    font-size: 350px;
    color: white;
    text-shadow: -5px 3px rgba(19, 19, 19, 0.952);
}



@font-face {
    font-family: logoFont;
    src: url('/assets/fonts/awesomebirds/Awesome\ Birds.ttf');
}