<div class="background">
  <div class="container">
      <div class="col-lg-6 offset-lg-3 form-container-custom">

          <form>
              <!-- <div class="form-header-custom"></div> -->
              <div class="form-row">
                <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 text-center">
                    <div class="form-group">
                        <div class="icon-addon">
                            <label for="newUserUsername" class="fa fa-user"></label>
                            <input type="username" class="form-control" id="newUserUsername" placeholder="Username" name="username" [(ngModel)]="user.username" required>
                        </div>
                    </div>
                </div>
            </div>
              <div class="form-row">
                  <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 text-center">
                      <div class="form-group">
                          <div class="icon-addon">
                              <label for="newUserEmail" class="fa fa-envelope"></label>
                              <input type="email" class="form-control" id="newUserEmail" placeholder="Email" name="email" [(ngModel)]="user.email" required>
                          </div>
                          <small id="passwordHelpBlock" class="form-text text-muted" style="display: none"> Your email must be unique. Cannot be associated with another active Limbo account.</small>
                      </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                          <div class="icon-addon">
                              <label for="newUserPass" class="fa fa-lock"></label>
                              <input type="password" class="form-control" id="newUserPass" placeholder="Password" name="password" [(ngModel)]="password" required>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                          <input type="password" class="form-control" id="newUserPassConfirm" placeholder="Confirm Password" name="cpassword" [(ngModel)]="confirmpassword" (change)="verifyPasswords()" required>
                      </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                          <div class="icon-addon">
                              <label for="newUserFName" class="fa fa-user"></label>
                              <input type="text" class="form-control" id="newUserFName" placeholder="First Name" name="firstName" [(ngModel)]="user.firstName" required>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                          <input type="text" class="form-control" id="newUserLName" placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" required>
                      </div>
                  </div>
              </div>
              <div class="form-row" style="margin-bottom:0px">
                  <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 text-center">
                      <div class="form-group">
                          <div class="icon-addon">
                              <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>
                          </div>
                      </div>
                  </div>

              </div>

              <div>
                  <button type="button" [disabled]="disabled" class="btn btn-custom outline" id="newUserSubmitButton" (click)="registerUser()">Register</button>
              </div>

          </form>
      </div>
  </div>
</div>
