<div class="modal-container">
  <h2 class="modal-title">
    User Settings
  </h2>

  <div class="adjust-width">
    <div class="edit-icon-position edit-visibility" (click)="openCloseEditing()">
      <i id="editIcon" class="fa fa-lock edit"></i>
    </div>
    <div *ngIf="editingOpen">
      <div class="form-container-custom">
        <!--servlet url-->
        <form method="post" enctype="multipart/form-data">
          <div class="form-row">
            <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 text-center">
              <div class="form-group">
                <div class="icon-addon disabled">
                  <label for="userEmail" class="fa fa-envelope"></label>
                  <input type="email" class="form-control" id="userEmail" placeholder="{{userEmail}}" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <div class="icon-addon">
                  <label for="newFName" class="fa fa-user"></label>
                  <input type="text" class="form-control" id="newFName" placeholder="{{firstName}}" value="{{firstName}}">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" id="newLName" placeholder="{{lastName}}" value="{{lastName}}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="!editingOpen">
      <div class="form-container-custom">
        <div class="row">
          <div class="col-md-3 col-sm-3 text-right">
            <span class="icon-color">
              <i class="fa fa-envelope md"></i> :
            </span>
          </div>
          <div class="col-md-6 col-sm-6  align-self-center">
            <span class="user-info">
              {{userEmail}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 text-right">
            <span class="icon-color">
              <i class="fa fa-user md"></i> :
            </span>
          </div>
          <div class="col-md-6 col-sm-6 align-self-center" style="text-align:left">
            <span class="user-info">
              {{firstName}} {{lastName}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="left-btn">
    <button type="button" id="cancelBtn" class="btn-custom btn-form" (click)="closeModal()">Cancel</button>
  </div>
  
  <div class="right-btn" *ngIf="editingOpen">
    <button type="button" id="updateBtn" class="btn-custom btn-form">Update!</button>
  </div>
  
</div>
