.main-content{
    margin-left: 20vw; 
    /* use data binding to set margin-left */
    padding: 0px 0px;
}

.cover-photo{
    background-image: url('kitten_background.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.profile-shadow{
    box-shadow: -3px 5px 10px 2px rgba(66, 66, 66, 0.651);
}

.profile-background{
    height: 100%;
    width: 100vw;
    max-width:100vw;
}

.profile-photo-size{
    height: 26vw;
    width: 26vw;
    border-radius:100%;
}

.profile-photo-center{
    padding-top: 25vh;
    padding-left: 37vw;
}

.profile-info-center{
    margin-top: 30px;
    width: 50%;
    margin: auto;
}

.profile-info{
    margin-top: 5vh;
    text-align:center;
    color:white;
    font-size: 3vh;
    font-weight: bold
}