/* Limb Header Styling */
.post-header-container{
    height: 90px;
    width: 90px;
}

.decorated{
    overflow: hidden;
    text-align: center;
    padding-top: 10px;

}
.decorated > .subtitle-left1{
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 4%;
}
.decorated > .subtitle-left2{
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 6%;
    margin-left:6%;
    padding-left: 4%;
}

.decorated > .img-div{
   position: relative;
   display: inline-block;
}
.decorated > .img-div:before, .decorated > .img-div:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid #97AABD;
   /* box-shadow: -.5px .5px 5px .05px rgb(135, 152, 168); */
   width: 592px; /* half of limiter */
   margin: 0 10px;
}
.decorated > .img-div:before{
   right: 100%;
}
.decorated > .img-div:after{
   left: 100%;
}

/* Limb Body Styling */

.limb-border {
    box-shadow: -5px 10px 8px 2px rgba(207, 207, 207, 0.808);
    height: auto;
    margin: 5px;
}

.container-custom{
    /* margin: 30px; */
    /* max-width: 72vw; */
    width: 60vw;
    margin-left: 0vw;
    margin-top: 5vw;
    margin-bottom: 5%;
}

.bottom-right{
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    
}