<div class="modal-container">
  <h2 class="modal-title">
    Edit (Post ID: {{id}}):
  </h2>

  <div>
    <form>
      <div class="form-group-custom">
        <textarea class="form-control post-content" id="limbTextArea" rows="3">{{limbBody}}</textarea>
      </div>
      <div class="file-input-center">
        <div class="form-group-custom">
          <input type="file" name="inputImg" id="newLimbImg" class="inputfile" (change)="changeLabel()" />
          <label for="newLimbImg" id="inputImgLabel" class="file-btn">
            <i class="fa fa-upload" style="padding-right:.5em"></i> Add an Image</label>
        </div>
      </div>
      
      <div class="left-btn">
        <button type="button" id="cancelBtn" class="btn-custom btn-form" (click)="closeModal()">Cancel</button>
      </div>
      <div class="center-btn">
          <button type="button" id="deleteBtn" class="btn-custom btn-form" (click)="deleteLimb()">Delete</button>
        </div>
      <div class="right-btn">
        <button type="button" id="submitBtn" class="btn-custom btn-form" (click)="updateLimb()">Update!</button>
      </div>
    </form>
  </div>
</div>